.project {
    background-color: var(--bg-color-dark);
    width: 40vh;
    height: 40vh;
    padding: 2vh;
    margin-bottom: 2vh;
    margin-right: 2vh;
    /* make the text white */
    color: var(--text-color);
}


.project:hover{
    cursor: pointer;
    z-index: 999;
}

/* .projectText{
    width: 30vh;
} */
.projectTitle{
    font-size: var(--font-size-large);
}
.projectDescription{
    font-size: var(--font-size-base);
}

#projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}