:root{
    --bg-color: #282c34;
    --bg-color-dark: #1f2229;
    --bg-color-light: #333842;
    --text-color: #cccccc;
    --font-family: 'Roboto', sans-serif;
    --font-size-base: 16px;
    --font-size-small: 12px;
    --font-size-large: 36px;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    padding: 1vw;
}

a {
    color: var(--text-color);
}

h1 {
    font-size: var(--font-size-large);
}

#footer{
    /* move to bottom of screen */
    position: fixed;
    bottom: 0;
    width: 100%;
    /* height: 60px; */
    background-color: var(--bg-color);
    font-size: var(--font-size-small);
}